<div [formGroup]="form">

  <div [ngSwitch]="question.controlType">

    <div *ngSwitchCase="'textbox'" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <label [attr.for]="question.key">{{question.label}}</label>

      <input [formControlName]="question.key" [id]="prefixId + question.key" [type]="question.type" class="form-control"
        [attr.disabled]='question.disabled'>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'textarea'" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <label [attr.for]="question.key">{{question.label}}</label>

      <textarea [formControlName]="question.key" [id]="prefixId + question.key" rows="4"
        class="form-control"></textarea>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'dropdown'" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <!-- <label [attr.for]="question.key">{{question.label}}</label>

      <select [id]="prefixId + question.key" [formControlName]="question.key" class="form-control">
        <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
      </select> -->
      <app-dropdown-form-component [question]="question" [control]='form.controls[question.key]'
      [prefixId]="prefixId"></app-dropdown-form-component>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'checkbox-group'" [id]=" prefixId + question.key" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <label [attr.for]="question.key">{{question.label}}</label>

      <div *ngIf="question && form" >
        <app-form-checkbox-component [question]="question" [control]='form.controls[question.key]'
          [prefixId]="prefixId">
        </app-form-checkbox-component>
        <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
      </div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'radio-button'" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <label [attr.for]="question.key">{{question.label}}</label>

      <app-form-radio-button-component [options]="question.options" [control]='form.controls[question.key]'
        [prefixId]="prefixId">
      </app-form-radio-button-component>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'control-option'" style="padding: 5px;">
      <label [attr.for]="question.key">{{question.label}}</label>

      <app-form-option-component [options]="question.value" [control]='form.controls[question.key]'
        [prefixId]="prefixId"></app-form-option-component>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
    <div *ngSwitchCase="'checkbox'" style="padding: 5px;" style="padding: 5px;"
    [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
      <app-form-component [control]='form.controls[question.key]' [question]="question" [prefixId]="prefixId"></app-form-component>
      <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
    </div>
    <!--  -->
     
      <div *ngSwitchCase="'option-config'">
        <app-config-form-component [control]='form.controls[question.key]' [configValue]="question" [prefixId]="prefixId"></app-config-form-component>
      </div>
     
    <!-- -->
      <div  *ngSwitchCase="'date-picker'" style="padding: 5px;" style="padding: 5px;"
      [ngStyle]="{'background-color': currentControl?.key === question?.key ? '#007bff40' : '' }">
        <app-date-picket-component></app-date-picket-component>
      </div>
    <!--  -->
  </div>
</div>