<div [formGroup]="form">
  <label [attr.for]="question.key">{{question.label}}</label>

  <div [ngSwitch]="question.controlType">

    <input *ngSwitchCase="'textbox'" [formControlName]="question.key" [id]="question.key" [type]="question.type" class="form-control">

    <textarea *ngSwitchCase="'textarea'" [formControlName]="question.key" [id]="question.key" 
    rows="4"
     class="form-control"></textarea>

    <select [id]="question.key" *ngSwitchCase="'dropdown'" [formControlName]="question.key" class="form-control">
      <option *ngFor="let opt of question.options" [value]="opt.key">{{opt.value}}</option>
    </select>

    <div *ngSwitchCase="'checkbox-group'">
      <div *ngIf="question && form">
        <app-form-checkbox-component [options]="question.options" [control]='form.controls[question.key]'>
        </app-form-checkbox-component>
      </div>
    </div>

    <div *ngSwitchCase="'radio-button'">
      <app-form-radio-button-component [options]="question.options" [control]='form.controls[question.key]'></app-form-radio-button-component>
    </div>

    <div class="errorMessage" *ngIf="!isValid">{{question.label}} is required</div>
  </div>
</div>