<div class="properties panel">
  <div class="panel-heading">
    <h3 class="panel-title">Properties</h3>
  </div>
  <div class="panel-body">
    <form [formGroup]="form" class="row" *ngIf='properties'>
      <div *ngFor="let question of properties" [ngClass]="question.cssClass">
        <app-dynamic-form [question]="question" [form]="form" (change)="onSubmit()" [prefixId]="properties">
        </app-dynamic-form>
      </div>
    </form>
  </div>
  <div class="row panel-footer text-right">
    <button class="btn btn-primary" (click)="onSubmit()" [disabled]="!form || !form.valid">Save</button>
  </div>
  <div *ngIf="payLoad" style="overflow-wrap: anywhere;">
    <strong>Saved the following values</strong><br>{{payLoad}}
  </div>
</div>