
.bd-sidebar
  border-right: 1px solid rgba(0,0,0,.05);

  .bd-search
    width: 100%;
    margin-left: 12px;
    margin-top: 10px;

  nav
    overflow-y: scroll;
    height: calc(100vh - 50px);
    display: inline;

    .bd-toc-item
      margin-top: 40px;
      background-color: white;
      height: calc(100vh - 40px);
      overflow-y: scroll;
      position: fixed;
      width: calc(15% + 15px)

          
    .bd-toc-item::-webkit-scrollbar
      background-color: rgba(0,0,0,0.1);
      position: absolute;
      width: 4px;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
      transition: all 0.7s;

    /* Track */
    .bd-toc-item::-webkit-scrollbar-track 
      background: #f1f1f1; 

    
    /* Handle */
    .bd-toc-item::-webkit-scrollbar-thumb 
      background: #888; 


    /* Handle on hover */
    .bd-toc-item::-webkit-scrollbar-thumb:hover 
      background: #555; 

main
  overflow-y: scroll;
  height: 100vh;
